<div id="info" padding="16px">
  <div id="info-foto-de-perfil">
    <img
      class="foto-de-perfil"
      src="../assets/B612_20210916_134346_017.jpg"
      alt="foto de perfil"
      title="foto de perfil"
    />
    <i class="fa-solid fa-pen-to-square"></i>
    <!--AGREGAR FUNCION PARA EDITAR FOTO-->
    <div id="info-profesión">
      <h1>Juan Martín Domínguez</h1>
      Desarrollador web full stack Jr. <br />
      Profesor de Ciencias Químicas y del Ambiente
    </div>
    <div id="info-contacto">
      <span>Corrientes capital, Corrientes, Argentina</span>
      <span
        >&nbsp;<!--esta poruqeria agrega un espacio en blanco--><a
          href="https://www.linkedin.com/in/juan-mart%C3%ADn-dominguez-a03765252/"
          target="_blank"
          >Información de contacto</a
        >
      </span>
      <!--completar link en# para referenciar a la informacion de contacto, tal vez un linkedin-->
    </div>
  </div>
  <div id="info-data">
    <span>
      <ul id="info-detalles">
        <li>
          <a
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"
          >
            <img
              id="imagen-AP"
              src="../assets/logo-argentina-programa1.png"
              alt=""
            />
            <!--<h2>Argentina programa #Yo programo</h2>-->
          </a>
        </li>
        <li>
          <a href="https://www.unne.edu.ar/index.php?lang=es" target="_blank">
            <img id="imagen-UNNE" src="../assets/logo-unne.png" alt="" />
            <!--<h2>Universidad Nacional del Nordeste</h2>-->
          </a>
        </li>
      </ul>
    </span>
  </div>
</div>
