<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
       <i class="fa-sharp fa-solid fa-user fa-lg"></i>
       <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
         <img class="imagen-AP-sin-fondo" src="../assets/logo argentina programa sin fondo.png" alt="foto argentina programa sin fondo" title="foto argentina programa sin fondo">
        </a>
      </div>
  </nav>
</header>